.navbar {
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #5f4c4c;
    margin-bottom: 4vh;
}

.logo {
    border-radius: 50%;
}
