.navbar {
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #5f4c4c;
    margin-bottom: 4vh;
}

.logo {
    margin-left: 10px;
    border-radius: 50%;
}

.git {
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50%;
}

@media (max-width: 800px) {
    .navbar {
        margin-bottom: 1.5vh;
    }
}
