@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");

.uuid {
    padding: 0.5rem 2rem;
    background-color: rgb(220, 220, 220);
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-family: "Roboto Mono", monospace;
    white-space: nowrap;
    max-width: 20vw;
    overflow: scroll;
}

.share {
    margin: 1rem 0rem;
    display: flex;
    flex-direction: row;
}

.copy {
    padding: 0.65rem 1.7rem;
}

.copied {
    padding: 0.65rem 1rem;
    background-color: rgb(151, 245, 153);
}

.span {
    display: block;
    margin: 0.5rem 0rem;
    font-size: 1.2rem;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.personal {
    margin-top: 9%;
}

.ConnectedUsers {
    display: block;
}

.userlist {
    max-height: 10vh;
    overflow: scroll;
}

.send {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.sendButton {
    padding: 2vh 5vw;
    font-size: 1.2rem;
}

.receive {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 800px) {
    .copied {
        padding: 0.58rem 1rem;
    }

    .span {
        margin: 0rem;
        font-size: 1.1rem;
    }

    .connected {
        margin-top: 1rem;
    }

    .uuid {
        padding: 0.5rem 0.5rem;
        letter-spacing: 0.06rem;
        max-width: 60vw;
    }

    .personal {
        margin-top: 4%;
    }
}
