.shareID {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 80vh;
    align-items: center;
    background-color: rgba(173, 111, 111, 0.61);
    border-radius: 0.5rem;
    overflow: scroll;
}

@media (max-width: 800px) {
    .shareID {
        width: 95vw;
        margin: 0 auto 1rem auto;
        height: 38vh;
        padding-bottom: 1rem;
    }
}
